.btnStyle {
  background-color: #c5e8e8;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #f1e4b8;
    border-color: #422800;
  }
}

.btnCircle {
  &:hover,
  &.active {
    color: white;
    background-color: #f3acc2;
    border-color: #f3acc2;
  }
}
