.header {
  height: 650px;
  background-image: url("@/assets/images/bg1.jpg");
  background-size: cover;
  background-position: bottom center;
}

.faq {
  height: 350px;
  background-image: url("@/assets/images/bg2.jpg");
  background-size: cover;
  background-position: center center;
}
