.header {
  height: 650px;
  background-image: url("@/assets/images/bg1.jpg");
  background-size: cover;
  background-position: bottom center;
}

.faq {
  height: 350px;
  background-image: url("@/assets/images/bg2.jpg");
  background-size: cover;
  background-position: center center;
}

.bg {
  background-image: url("@/assets/images/bg.jpg");
}

.productlist {
  height: 350px;
  background-image: url("@/assets/images/bg4.jpg");
  background-size: cover;
  background-position: center center;
}

.about {
  height: 350px;
  background-image: url("@/assets/images/bg5.jpg");
  background-size: cover;
  background-position: bottom center;
}
